<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>AICHAIN-TESTNET BLOCKS</title>
    <link rel="stylesheet" href="__PUBLIC__/css/layer.css">
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/reset.css">
    <link rel="stylesheet" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/css/blocks.css">
</head>
<body>
    <!-- nav -->
    <div class="wrapper">
    </div>
    <div class="blocks">
        <div class="blocks-title">Blocks </div>
        <!-- blocks详细信息  -->
        <div class="bs-example table-responsive" data-example-id="hoverable-table">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Height</th>
                    <th>Age</th>
                    <th>txn</th>
                    <!--<th>Uncles</th>-->
                    <th>Miner</th>
                    <th>GasLimit</th>
                    <th>GasUsed</th>
                    <th>Difficulty</th>
                    <th>Reward</th>
                </tr>
                </thead>
                <tbody>
                {foreach $Blocks as $key=>$vo}
                    <tr>
                        <td>
                            <a href="__PUBLIC__/block/{$vo.block_number}">
                                {$vo.block_number}
                            </a>
                        </td>
                        <td>{$vo.block_timestamp|getTimeDiff=###,'en'}</td>
                        <td><a href="__PUBLIC__/txs?block={$vo.block_number}">{$vo.transaction_num}</a></td>
                        <!--<td>{$vo.uncle_num}</td>-->
                        <td><a href="__PUBLIC__/address/ai{$vo.coinbase}">ai{$vo.coinbase}</a></td>
                        <td>{$vo.gas_limit}</td>
                        <td>{$vo.gas_used}</td>
                        <td>{$vo.difficulty}</td>
                        <td>{$vo.block_reward} AIT</td>
                    </tr>
                {/foreach}

                </tbody>
            </table>
        </div>
        <!-- showpage -->
        <div class="showpage">
            <span>show</span>
            <select id="listRows">
                <option value ="10" {if $listRows==10}selected="selected"{/if}>10</option>
                <option value ="20" {if $listRows==20}selected="selected"{/if}>20</option>
                <option value="30" {if $listRows==30}selected="selected"{/if}>30</option>
                <option value="40" {if $listRows==40}selected="selected"{/if}>40</option>
                <option value="100" {if $listRows==100}selected="selected"{/if}>40</option>
            </select>
            <span>page</span>
        </div>
        <!-- 翻页 -->
        <nav aria-label="Page navigation" class="select-page"> 
            <!--<ul class="pagination">-->
                <!--<li>-->
                    <!--<a href="#" aria-label="Previous">-->
                    <!--<span aria-hidden="true">&laquo;</span>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li><a href="#">1</a></li>-->
                <!--<li><a href="#">2</a></li>-->
                <!--<li><a href="#">3</a></li>-->
                <!--<li><a href="#">4</a></li>-->
                <!--<li><a href="#">5</a></li>-->
                <!--<li>-->
                    <!--<a href="#" aria-label="Next">-->
                    <!--<span aria-hidden="true">&raquo;</span>-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
            {$page}
        </nav>

    </div>
    <div class="footerwrapper"></div>
</body>
<script src="__PUBLIC__/js/jquery-3.3.1.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script>
    $(function(){
        $(".wrapper").load('__PUBLIC__/nav.html');
        $(".footerwrapper").load('__PUBLIC__/footer.html');
    })

    $("#listRows").change(function(){
        var opt=$("#listRows").val();
        var url =window.location.href;
        var new_url=putUrlParam(url,'listRows',opt);
        window.location.href=new_url;

    });

    function putUrlParam(url, ref, value) {

        // 如果没有参数
        if (url.indexOf('?') == -1)
            return url + "?" + ref + "=" + value;

        // 如果不包括此参数
        if (url.indexOf(ref) == -1)
            return url + "&" + ref + "=" + value;

        var arr_url = url.split('?');

        var base = arr_url[0];

        var arr_param = arr_url[1].split('&');

        for (i = 0; i < arr_param.length; i++) {

            var paired = arr_param[i].split('=');

            if (paired[0] == ref) {
                paired[1] = value;
                arr_param[i] = paired.join('=');
                break;
            }
        }

        return base + "?" + arr_param.join('&');
    }
</script>
</html>