<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Address</title>
    <link rel="stylesheet" href="__PUBLIC__/css/layer.css">
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/reset.css">
    <link rel="stylesheet" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/css/blocks.css">
</head>

<body>
    <!-- nav -->
    <div class="wrapper">
    </div>
    <!-- blocks点击id对应的详情页面  -->
    <div class="address">
        <div class="blocks">
            <div class="blocks-title">Address <br><span>ai{$address}</span></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2">
                                Overview
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Balance:</td>
                            <td>{if $balance_value==''}0{else}{$balance_value}{/if} AIT</td>
                        </tr>

                    <tr>
                        <td>Token Balances:</td>
                        <td>
                            <div class="dropdown">
                                <button  type="button" data-toggle="dropdown" class="dropdown-toggle" >
                                    Dropdown trigger
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" style="margin:2px 45px 0;width:45px;">

                                    {foreach $token_blance as $key =>$vo}
                                    <li style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:150px;padding-left:10px;">
                                        <span>ai{$vo.contract_address}</span><br/>
                                    </li>
                                    <li style="border-bottom: 1px #000000 solid;padding-left:10px;">
                                        {$vo.balance}&nbsp;&nbsp;{$vo.token_name}
                                    </li>
                                    {/foreach}
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <!-- blocks点击id对应的详情页面  -->
        <div class="row  blocksid margin-top30 accountTrans">
            <div class="CorrespondingID">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#Overview" aria-controls="Overview" role="tab" data-toggle="tab">Transactions</a></li>
                   {if $internaltransactionnum > 0}
                    <li role="presentation"><a href="#Comments" aria-controls="Comments" role="tab" data-toggle="tab">Internal Transactions</a></li>
                   {/if}
                    <li role="presentation"><a href="#Token" aria-controls="Token" role="tab" data-toggle="tab">Token Transfers</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="Overview">
                        <div class="tab-pane fade in active" id="overview">
                            <div class="panel panel-info table-responsive">
                                <div class="bs-example table-responsive" data-example-id="hoverable-table">
                                    <div class="panel-heading margin-bottom-15">
                                        <a href="/txs?address={$address}">
                                            <h3 class="panel-title">View All</h3>
                                        </a>
                                    </div>
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>TxHash</th>
                                            <th>Block</th>
                                            <th>Age</th>
                                            <th>From</th>
                                            <th>To</th>
                                            <th>Value</th>
                                            <th>[TxFee]</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {foreach $AddressList as $key => $vo}
                                            <tr>
                                                <td>
                                                    {if $vo.receipt_status !='1'}
                                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style='color:red;width:15px;'></span>
                                                    {/if}
                                                    <a href="/tx/0x{$vo.txhash}">
                                                        0x{$vo.txhash}
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="/block/{$vo.block_number}">
                                                        {$vo.block_number}
                                                    </a>
                                                </td>
                                                <td>{$vo.timeago}</td>
                                                <td>
                                                    <a href="/address/ai{$vo.from_address}">
                                                       ai{$vo.from_address}
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="/address/ai{$vo.to_address}">
                                                        ai{$vo.to_address}
                                                    </a>
                                                </td>
                                                <td>{$vo.amount} AIT</td>
                                                <td>{$vo.fee}</td>
                                            </tr>
                                        {/foreach}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="Comments">
                        <div class="tab-pane fade in active" id="Comments">
                            <div class="panel panel-info table-responsive">
                                <div class="bs-example table-responsive" data-example-id="hoverable-table">
                                    <div class="panel-heading margin-bottom-15">
                                        <a href="javascript:;">
                                            <h3 class="panel-title">View All</h3>
                                        </a>
                                    </div>
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>ParentTxHash</th>
                                            <th>Block</th>
                                            <th>Age</th>
                                            <th>From</th>
                                            <th>To</th>
                                            <th>Value</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {if $internaltransactionnum > 0}
                                        {foreach $internaltransaction as $key =>$vo}
                                            <tr>
                                                <td>
                                                    <a href="/block/0x{$vo.parent_txhash}">
                                                        0x{$vo.parent_txhash}
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="/block/{$vo.block_number}">
                                                        {$vo.block_number}
                                                    </a>
                                                </td>
                                                <td>{$vo.timeago}</td>
                                                <td>
                                                    <a href="/address/ai{$vo.from_address}">
                                                        ai{$vo.from_address}
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="/address/ai{$vo.to_address}">
                                                        ai{$vo.to_address}
                                                    </a>
                                                </td>
                                                <td> {$vo.amount} AIT</td>
                                            </tr>
                                        {/foreach}
                                        {/if}
                                        </tbody>
                                    </table>

                                </div>

                            </div>

                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="Token">
                        <div class="tab-pane fade in active" id="Token">
                            <div class="panel panel-info table-responsive">
                                <div class="bs-example table-responsive" data-example-id="hoverable-table">
                                    <div class="panel-heading margin-bottom-15">
                                        <a href="/tokentxs?address={$address}">
                                            <h3 class="panel-title">View All</h3>
                                        </a>
                                    </div>
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>TxHash</th>
                                            <th>Block</th>
                                            <th>Age</th>
                                            <th>From</th>
                                            <th>To</th>
                                            <th>Value</th>
                                            <th>Token</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {foreach $erc20TransferList as $key=>$vo}
                                            <tr>
                                                <td>
                                                    <a href="/tx/0x{$vo.txhash}">
                                                        0x{$vo.txhash}
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="/block/{$vo.block_number}">
                                                        {$vo.block_number}
                                                    </a>
                                                </td>
                                                <td>{$vo.timeago}</td>
                                                <td>
                                                    <a href="/address/ai{$vo.erc20_from}">
                                                        ai{$vo.erc20_from}
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="/address/ai{$vo.erc20_to}">
                                                        ai{$vo.erc20_to}
                                                    </a>
                                                </td>
                                                <td>{$vo.erc20_amount} AIT</td>
                                                <td>{$vo.token}</td>
                                            </tr>

                                        {/foreach}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footerwrapper"></div>
</body>
<script src="__PUBLIC__/js/jquery-3.3.1.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script>
    $(function(){
        $('.dropdown-toggle').dropdown()
        $(".wrapper").load('/nav.html');
        $(".footerwrapper").load('__PUBLIC__/footer.html');
    })
</script>
</html>